.header {
    padding: 0 320px;
    background-color: #1C1C21;
    min-height: 88px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    justify-items: center;
    align-items: center;
}

.group {
    justify-self: start;
}    

.group_links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 8px;       
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profile {
    justify-self: end;
}